.credits
    span.title= snippet.title
    span.channel
        a(href= 'https://www.youtube.com/channel/'+ snippet.channelId)= snippet.channelTitle
    span.license= status.license
    span.publishedAt= snippet.publishedAt
